<div class="col-xs-6">
    <h4>Carga de Pedido</h4>
    <div class="col-xs-4">
        <form [formGroup]="productoForm" (ngSubmit)="buscarProducto()" novalidate>
            <div class="form-group">
                <label class="center-block">Medicamento:
                    <input class="form-control" formControlName="producto">
                </label>
                <button type="submit" class="btn btn-success">Buscar</button>
            </div>
        </form>
    </div>
    <div class="col-xs-4">
        <form [formGroup]="codBarraForm" (ngSubmit)="buscarCodBarra()" novalidate>
            <div class="form-group">
                <label class="center-block">Código de barra:
                    <input class="form-control" formControlName="codBarra">
                </label>
                <button type="submit" class="btn btn-success">Buscar</button>
            </div>
        </form>
    </div>
    <div class="col-xs-4">
        <form [formGroup]="codigoForm" (ngSubmit)="buscarCodigo()" novalidate>
            <div class="form-group">
                <label class="center-block">Código corto:
                    <input class="form-control" formControlName="codigo">
                </label>
                <button type="submit" class="btn btn-success">Buscar</button>
            </div>
        </form>
    </div>
    <div  class="col-xs-12">
        <h3>Productos</h3>
        <div *ngIf="productos">
            <a *ngFor="let producto of productos">
                <h4>{{producto.PRODUCTO}}</h4>
            </a>
        </div>
    </div>
</div>

<div class="col-xs-6">
    <h4>Productos Cargados</h4>
</div>